[submodule "lib/libspng"]
	path = lib/libspng
	url = https://github.com/randy408/libspng/
[submodule "lib/miniz"]
	path = lib/miniz
	url = https://github.com/richgel999/miniz
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl
